body {
    height: 62.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wholeGame {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 90%;
    height: 80%;
    border-style: solid;
}


}
.gameGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 80%;
    height: 80%;
}
.jeopardy {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    background-color: red;
    height: 8rem;
    background-image: url("./jeopardy.jpg");
    background-size: contain;
    border: black solid;
    color: gold;
    /*background-repeat: no-repeat;*/
}
.breakingBad {
    grid-column: 1;
    grid-row: 2;
    background-color: rgb(35, 35, 190);
    display: flex;
    justify-items: center;
    align-items: center;
    border: black solid;
    color: rgb(231, 220, 220);
    font-family: "staatliches";
    font-size: 2.5rem;
}
.bb500 {
    background-color: rgb(35, 35, 190);
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.bb500:hover {
    transform: scale(1.1);
}
.bb500backcard {
    width: 60%;
    height: 40%;
    background-color: red;
    transition: transform 2s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-content: center;
}
.bb500,
.bb500backcard {
    position: inherit;
    backface-visibility: hidden;
}
.bb400 {
    background-color: rgb(35, 35, 190);
    grid-column: 1;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.bb400:hover {
    transform: scale(1.1);
}
.bb300 {
    background-color: rgb(35, 35, 190);
    grid-column: 1;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.bb300:hover {
    transform: scale(1.1);
}
.bb200 {
    background-color: rgb(35, 35, 190);
    grid-column: 1;
    grid-row: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.bb200:hover {
    transform: scale(1.1);
}
.bb100 {
    background-color: rgb(35, 35, 190);
    grid-column: 1;
    grid-row: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.bb100:hover {
    transform: scale(1.1);
}
.starWars {
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(35, 35, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: rgb(231, 220, 220);
    font-family: "staatliches";
    font-size: 2.5rem;
}
.sw500 {
    background-color: rgb(35, 35, 190);
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.sw500:hover {
    transform: scale(1.1);
}
.sw400 {
    background-color: rgb(35, 35, 190);
    grid-column: 2;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.sw400:hover {
    transform: scale(1.1);
}
.sw300 {
    background-color: rgb(35, 35, 190);
    grid-column: 2;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.sw300:hover {
    transform: scale(1.1);
}
.sw200 {
    background-color: rgb(35, 35, 190);
    grid-column: 2;
    grid-row: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.sw200:hover {
    transform: scale(1.1);
}
.sw100 {
    background-color: rgb(35, 35, 190);
    grid-column: 2;
    grid-row: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.sw100:hover {
    transform: scale(1.1);
}
.science {
    grid-column: 3;
    grid-row: 2;
    background-color: rgb(35, 35, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: rgb(231, 220, 220);
    font-family: "staatliches";
    font-size: 2.5rem;
}
.sci500 {
    background-color: rgb(35, 35, 190);
    grid-column: 3;
    grid-auto-rows: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.sci500:hover {
    transform: scale(1.1);
}
.sci400 {
    background-color: rgb(35, 35, 190);
    grid-column: 3;
    grid-auto-rows: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.sci400:hover {
    transform: scale(1.1);
}
.sci300 {
    background-color: rgb(35, 35, 190);
    grid-column: 3;
    grid-auto-rows: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.sci300:hover {
    transform: scale(1.1);
}
.sci200 {
    background-color: rgb(35, 35, 190);
    grid-column: 3;
    grid-auto-rows: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.sci200:hover {
    transform: scale(1.1);
}
.sci100 {
    background-color: rgb(35, 35, 190);
    grid-column: 3;
    grid-auto-rows: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.sci100:hover {
    transform: scale(1.1);
}
.worldOrigins {
    grid-column: 4;
    grid-row: 2;
    background-color: rgb(35, 35, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: rgb(231, 220, 220);
    font-family: "staatliches";
    font-size: 2.5rem;
}
.wo500 {
    background-color: rgb(35, 35, 190);
    grid-column: 4;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.wo500:hover {
    transform: scale(1.1);
}
.wo400 {
    background-color: rgb(35, 35, 190);
    grid-column: 4;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.wo400:hover {
    transform: scale(1.1);
}
.wo300 {
    background-color: rgb(35, 35, 190);
    grid-column: 4;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.wo300:hover {
    transform: scale(1.1);
}
.wo200 {
    background-color: rgb(35, 35, 190);
    /*background: radial-gradient(rgb(35, 35, 190) 50%, black);*/
    
    grid-column: 4;
    grid-row: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.wo200:hover {
    transform: scale(1.1);
}
.wo100 {
    background-color: rgb(35, 35, 190);
    grid-column: 4;
    grid-row: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.wo100:hover {
    transform: scale(1.1);
}
.worldLeaders {
    grid-column: 5;
    grid-row: 2;
    background-color: rgb(35, 35, 190);
    border: black solid;
    color: rgb(231, 220, 220);
    font-family: "staatliches";
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.wl500 {
    background-color: rgb(35, 35, 190);
    grid-column: 5;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.wl500:hover {
    transform: scale(1.1);
}
.wl400 {
    background-color: rgb(35, 35, 190);
    grid-column: 5;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.wl400:hover {
    transform: scale(1.1);
}
.wl300 {
    background-color: rgb(35, 35, 190);
    grid-column: 5;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.wl300:hover {
    transform: scale(1.1);
}
.wl200 {
    background-color: rgb(35, 35, 190);
    grid-column: 5;
    grid-row: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.wl200:hover {
    transform: scale(1.1);
}
.wl100 {
    background-color: rgb(35, 35, 190);
    grid-column: 5;
    grid-row: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.wl100:hover {
    transform: scale(1.1);
}
.coding {
    grid-column: 6;
    grid-row: 2;
    background-color: rgb(35, 35, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: rgb(231, 220, 220);
    font-family: "staatliches";
    font-size: 2.5rem;
}
.code500 {
    background-color: rgb(35, 35, 190);
    grid-column: 6;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.code500:hover {
    transform: scale(1.1);
}
.code400 {
    background-color: rgb(35, 35, 190);
    grid-column: 6;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.code400:hover {
    transform: scale(1.1);
}
.code300 {
    background-color: rgb(35, 35, 190);
    grid-column: 6;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.code300:hover {
    transform: scale(1.1);
}
.code200 {
    background-color: rgb(35, 35, 190);
    grid-column: 6;
    grid-row: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    color: gold;
    font-family: quantico;
    font-size: 3rem;
}
.code200:hover {
    transform: scale(1.1);
}
.code100 {
    background-color: rgb(35, 35, 190);
    grid-column: 6;
    grid-row: 7;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    font-family: quantico;
    font-size: 3rem;
}
.code100:hover {
    transform: scale(1.1);
}